body, html {

	font-size: 17px;
	background-color: #cccccc;
	color: white;
	font-family: Tahoma;
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
}

h1 {
	
	font-family: Papyrus;
	font-size: 90px;
	padding: 0 0 0 0;
	margin: 40 0 0 0;
	display: inline;

}

a{

	color: white;
	text-decoration: none;
}

a:hover{

	text-decoration: underline;
}

#header{

	position: relative;
	z-index: 1;
	text-align: center;
}

#myVideo {
    
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

#wrapper{

	padding: 0 30px;
  text-align: center;
  height: 100%; 
	display: flex; 
	align-items: center; 
	justify-content: center;
	height:100%;
}

#scene{

	margin: auto;
	
	position: relative;
	background-color: transparent;
	background-clip: padding-box;
	height: 600px;
	width: 1050px;
}

#scenefinal{

	margin: auto;
	
	position: relative;

	background-color: transparent;
	background-clip: padding-box;
	height: 600px;
	width: 1050px;
}

#Background{
	
	z-index: 0;
	width: 1050px;
}

#Cabin_pic{
	position: absolute;
	top: 30px;
	left: 75px;
	z-index: 0;
	height: 600px;
}

#situationstart{

	position: absolute;
	top: 495px;
	left: 0px;
	width: 1050px;
	padding: 15px 15px 15px 15px;

	background-color: rgba(0,0,0,0);
	width: 960px;
	text-align: center;
}

#situation{

	position: absolute;
	top: 590px;
	left: 0px;
	width: 1050px;
	

	background-color: rgba(0,0,0,0);
	text-align: center;
}

#SituationHide{

	position: absolute;
	top: 169.5px;
	left: 22.5px;
	width: 300px;
	padding: 15px 15px 15px 15px;

	background-color: rgba(0,0,0,0);
	width: 360px;
	text-align: center;
}

#credit{

	position: absolute;
	top: 607.5px;
	left: 0px;
	width: 1050px;
	font-size: 10px;
	text-align: center;
}

#credit_2{

	position: absolute;
	top: 637.5px;
	left: 0px;
	width: 1050px;
	font-size: 8px;
	text-align: center;
}

#ChoiceV{

	position: left;
	left: 0px;
	top: 75px;
	width: 450px;
	height: 450px;
}

#ChoiceV:hover{

	background-color: rgba(256,256,256,.15);
}

#ChoiceM{

	position: right;
	left: 472.5px;
	top: 75px;
	width: 450px;
	height: 450px;

}

#ChoiceM:hover{

	background-color: rgba(256,256,256,.15);
}

#Picture1{

	position: absolute;
	left: 15px;
	top: 105px;
	width: 450px;
	transition: all 0.2s ease 0s;
}

#Picture1:hover{

	background-color: rgba(256,256,256,.25);
}

#Picture2{

	position: absolute;
	left: 517.5px;
	top: 105px;
	width: 450px;
	transition: all 0.2s ease 0s;
}

#Picture2:hover{

	background-color: rgba(256,256,256,.25);
	
}

#PictureL{

	position: absolute;
	left: 873px;
	top: 159px;
	width: 199.5px;
	opacity: 0;
	transition: all 0.2s ease 0s;
}

#PictureL:hover{

	background-color: rgba(256,256,256,.25);
	opacity: 1;
	
}

#ChoiceBD{

	position: absolute;
	left: 22.5px;
	top: 156px;
	width: 168px;
	height: 430.5px;
	transition: all 0.2s ease 0s;
}

#ChoiceBD:hover{

	background-image: url("../Media/Door_Knocker.png");
	background-color: rgba(256,256,256,.15);
	background-size: 168px 430.5px;
	background-repeat: no-repeat;
}

#ChoiceSI{

	position: absolute;
	left: 369px;
	top: 0px;
	width: 180px;
	height: 591px;
	transition: all 0.2s ease 0s;
}

#ChoiceSI:hover{

	background-image: url("../Media/Ladder.png");
	background-color: rgba(256,256,256,.15);
	background-size: 180px 591px;

}

#ChoiceBI{

	position: absolute;
	left: 847.5px;
	top: 135px;
	width: 202.5px;
	height: 247.5px;
	transition: all 0.2s ease 0s;
}

#ChoiceBI:hover{

	background-image: url("../Media/brick.png");
	background-color: rgba(256,256,256,.15);
	background-size: 202.5px 247.5px;
	background-repeat: no-repeat;
}

#ChoiceH{

	position: absolute;
	left: 817.5px;
	top: 0px;
	width: 228px;
	height: 589.5px;
	transition: all 0.2s ease 0s;
}

#ChoiceH:hover{

	background-color: rgba(256,256,256,.15);
}

#ChoiceK{

	position: absolute;
	left: 259.5px;
	top: 112.5px;
	width: 123px;
	height: 375px;
	transition: all 0.2s ease 0s;
}

#ChoiceK:hover{

	background-color: rgba(256,256,256,.15);
}

#ChoiceS{

	position: absolute;
	left: 574.5px;
	top: 160.5px;
	width: 229.5px;
	height: 412.5px;
	transition: all 0.2s ease 0s;
}

#ChoiceS:hover{

	background-color: rgba(256,256,256,.15);
}

#ChoiceE{

	position: absolute;
	left: 259px;
	top: 112.5px;
	width: 123px;
	height: 375px;
	transition: all 0.2s ease 0s;
}

#ChoiceE:hover{

	background-color: rgba(256,256,256,.5);
}

#ChoiceCO{

	position: absolute;
	left: 525px;
	top: 0px;
	width: 525px;
	height: 589.5px;
	transition: all 0.2s ease 0s;
}

#ChoiceCO:hover{

	background-color: rgba(256,256,256,.20);
}

#ChoiceKnife{

	position: absolute;
	left: 165px;
	top: 330px;
	width: 210px;
	height: 70.5px;
	transition: all 0.2s ease 0s;
}

#ChoiceKnife:hover{

	background-color: rgba(256,256,256,.15);
}

#ChoicePin{

	position: absolute;
	left: 442.5px;
	top: 327px;
	width: 202.5px;
	height: 60px;
	transition: all 0.2s ease 0s;
}

#ChoicePin:hover{

	background-color: rgba(256,256,256,.15);
}

#ChoiceAgain{
	position: absolute;
	left: 810px;
	top: 486px;
	width: 217.5px;
	height: 66px;
	transition: all 0.2s ease 0s;
}

#ChoiceAgain:hover{

	background-color: rgba(256,256,256,.15);
}

#ChoiceMess{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 487.5px;
	height: 591px;
	transition: all 0.2s ease 0s;
}

#ChoiceMess:hover{

	background-color: rgba(256,256,256,.25);
}

#ChoiceDirect{
	position: absolute;
	left: 562.5px;
	top: 0px;
	width: 487.5px;
	height: 591px;
	transition: all 0.2s ease 0s;
}

#ChoiceDirect:hover{

	background-color: rgba(256,256,256,.25);
}